@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

/*font-weight:
    Lato Light 300,
    Lato Regular 400,
    Lato Bold 700,
    Lato Black 900,
*/

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
h2{
    color: #3677fd;
    font-weight: 300;
    font-size: xx-large;
}
h3{
    color: #3677fd;
    font-weight: 700;
    text-transform: uppercase;
}
p{
    font-size: 17px;
    line-height: 35px;
}
input[value="HIRE ME"]{
    border-radius: 31px;
    border: none;
    height: 55px;
    width: 205px;
    color: #3695ff;
    font-weight: 700;
    font-size: 16px;
}
/*** HEADER  START ***/
h1 {
    font-weight: 900;
    font-size: 45px;
    width: 800px;
    margin: 50px auto 0;
}
header {
    text-transform: uppercase;
}
header p {
    font-weight: 300;
    width: 800px;
    margin: 32px auto 0;
    /*font-size: 17px;*/
    /*line-height: 35px;*/
}

header div.wrap {
    position: relative;
    padding-top: 81px;
    padding-bottom: 20px;
}
header input{
    /*border-radius: 31px;*/
    /*border: none;*/
    /*height: 55px;*/
    /*width: 205px;*/
    /*color: #3695ff;*/
    /*font-weight: 700;*/
    /*!*font-size: 16px;*!   mooved*/
    margin-top: 75px;
}


header, footer {
    color: white;
    background: url(../img/bg.jpg) no-repeat 100% 100%;
}

.menuButton {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

[href="#expertIn"] {
    display: block;
    margin: 90px auto 0;
    width: 32px;
}
[alt="circle"]{
    margin: 65px 0 0;
}

/*****/

/*POP UPS    START*/
#blackout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    background-color: #000;
    z-index: 5;
}

#popups {
    position: fixed;
    top: 0;
    width: 100%;
    left: calc((100% - 2000px) / 2);
    right: calc((100% - 2000px) / 2);
    z-index: 1;
}

#cookie {
    color: #ffffff;
    position: relative;
    background: #194277;
    top: 0;
    z-index: 10;
}
#cookie input{
    border-radius: 15px;
    border: none;
    height: 30px;
    width: 111px;
    color: #194277;
    font-weight: 700;
    margin-left: 180px;
}

#menu, #hireMe {
    position: relative;
    z-index: 10;
    margin-top: 10px;
}
#menu .wrap, #hireMe .wrap{
    background: white;
    border-radius: 10px;
    color: #d2d2d2;
    position: relative;
    padding: 50px 0 70px;
}
[alt="cross"]{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#menu ul{
    padding: 0;
}
#menu li{
    list-style: none;
    margin: 20px 0;
}
#menu li a{
    text-decoration: none;
    font-size: 50px;
    color: #d2d2d2;
    font-weight: 300;
}
hr{
    color: #d1d9e4;
    width: 390px;
    margin: 65px auto;
    border: 1px solid;
}
#menu li a:hover{
    color: #3677fd;
}
.language{
    position: absolute;
    display: inline-flex;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.language span{
    margin-right: 10px;
}
.media a{
     filter: grayscale(1) opacity(0.3);
    margin: 0 10px;
}
.media a:hover{
    filter: none;
}

#hireMe input, #hireMe textarea {
    display: block;
    margin: 7px auto;
    padding: 5px;
    color: #5a5a5a;
    width: 517px;
    border: 1px solid #b7c0c9;
    border-radius: 8px;
}
#hireMe [type="submit"]{
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    height: 43px;
    width: 200px;
    margin-top: 45px;
    border: none;
    border-radius: 25px;
    background: -moz-linear-gradient(left, #3695ff, #356efd 50%);;
    cursor: pointer;
}

/*POP UPS END*/

/*FRAMES START*/
.wrapper {
    width: 100%;
}

.wrapper > * {
    margin: 0 auto;
    width: 100%;
    max-width: 2000px;
}

.wrap {
    width: 1140px; /* 1170 px - (padding 15px *2) */
    padding: 0 15px;
    margin: 0 auto;
    display: inline-block;
}

/*FRAMES END*/
.wrapper > section p{
    color: #5a5a5a;
}
.wrapper > section:nth-of-type(odd) {
    background-color: white;
}

.wrapper > section:nth-of-type(even) {
    background-color: #f1f8ff;
}

/********ABOUT ME*********/
#aboutMe .wrap{
    padding: 100px auto;
}
#aboutMe p{
    margin-top: 60px;
}
/********ABOUT ME*********/
section .wrap{
    padding: 100px 15px;
}

/***********Expert IN**************/


#expertIn section{
    width: 350px;
    float: left;
    padding: 15px;
}
#expertIn section>div{
    position: relative;
    width: 140px;
    height: 140px;
    border: 1px solid #b7c0c9;
    border-radius: 50%;
    margin: 0 auto;
}
#expertIn h2{
    margin-bottom: 100px;
}
#expertIn img{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}
/***********Expert IN**************/

/*************clients**************/
#clients h2{
    margin-bottom: 30px;
}
#clients .wrap div{
    text-align: justify;
}
#clients a{
    display: inline-block;
    filter: grayscale(1) opacity(0.3);
    position: relative;
    margin: 0 47px;
}
#clients a:hover{
    filter: none;
}
#clients img{
    margin: 0 auto;
}
/*************clients**************/

#latestWorks .wrap div{
    position: relative;
    width: 360px;
    height: 270px;
    border-radius: 6px;
    background: #f4f4f4;
    float: left;
    margin: 25px 10px;
    cursor: pointer;
}
#latestWorks img{
    position: absolute;
    margin: auto auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

footer{
    height: 240px;
}
footer .wrap{
    padding: 85px 0;
    font-weight: 300;
    font-size: 50px;
}
footer .wrap strong{
    font-weight: 700;
}